*{
    margin: auto;
/*    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
}

.detail-container{
    display: flex;
    /*width: 70%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border: 2px  black;*/
}

.detail-right{
    margin: 5%;
}

.detail-right img{
    width: 100%;
}
.detail-left{
    margin: 5%;
}

@media (max-width: 736px){
    .detail-container{
        width: 90%;
        display: inline;
    }

    .detail-left{
        width: 90%;
    }
}

@media (max-width: 1064px){
    .detail-container{
        width: 90%;
    }
}