* {
    box-sizing: border-box;
}
body{
  background-color: #b1d3ab;
}
.form-container {
  font-family: Arial, Helvetica, sans-serif;
  width: 40%;
  margin:0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 50px;
  border-radius: 20px;
  /* background-color: white; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  display: block;
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
.inp-grp input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
/*dropdown*/
.inp-grp select{
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  text-align: center;
} 
.inp-grp input:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn ,.loginbtn,.rentbtn{
  background-color: rgb(1, 139, 139);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover,.loginbtn:hover,.rentbtn {
  opacity: 1;
}
.rentbtn:disabled{
    background-color:gray;
    cursor: not-allowed;
}

a {
  color: dodgerblue;
}
.error,.inp-err{
  color: red;
}

@media (max-width: 768px) {
    .container {
        padding: 5px;
        width: 60%;
        border-radius: 2px;
    }

    input {
        height: 25px;
    }
}