table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
td div{
    overflow: hidden;
    max-height: 60px;
    max-width:20em;
}
table a{
    text-decoration: none;
}
.red{
    background-color: red;
    width: 25px;
    color: white;
    padding: 5px;
/*    display: inline-block;*/

}
.green{
    background-color: green;
    margin: 3px 1px 2px 0;
    width: 25px;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
}