.dash-container{
	float:left;
	margin: 1% 7% 2% 2%;
	width: 500px;
	height: 100px;
	padding:20px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
	border-radius: 25px;
  	display: block;
  	background: lightgray;
}
.info{
	clear: right;
	font-size:24pt;
	margin: 10px 0 5px 0;
}
.dateTime{
	font-size:14pt;
}
.dp{
	font-size:14pt ;
}
h2{
	clear: left;
}
.buttons{
  background-color: rgb(1, 139, 139);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 200px;
  opacity: 0.9;
}

.buttons:hover {
  opacity: 1;
}