body{
    background-color: #edf2ec; 

/*    overflow:hidden;*/
}
.vehicles {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    margin-top: 5%;
}

.vehicle-container {
    width: 46%;
    padding: 7px;
    margin: auto;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}
.vehicle-container:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.box {
    border: 1px solid #dadfe9;
    margin-bottom: 5%;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    height: 100px;
    border-bottom: 1px solid #dadfe9;
}

.img-container img {
    width: 100%;
}

.model-info {
    padding: 12px 7px;
    font-size: 12px;
    color: #8c92a0;
    text-transform: capitalize;
}

.model-info li {
    text-decoration: none;
    list-style-type: none;
    display: inline;
    margin: 7%;
}

.vehicle-description h2 a,
h3 {
    text-decoration: none;
    color: #444a57;
}

.vehicle-container h2 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.vehicle-container h3{
    font-size: 0.8rem;
}
.vehicle-description p {
    color: grey;
    font-size: 0.7rem;
    padding: 10px 0;
    overflow:hidden;
    height: 4rem;
}

@media (min-width: 768px) {
    .vehicle-container {
        width: 31%;
        margin: auto;
    }

    .img-container {
        height: 195px;
    }


}

@media (min-width: 1024px) {
    .vehicle-container {
        width: 23%;
    }
    .vehicle-container h2{
        font-size: 1.3rem;
    }

    .vehicle-container h3{
        font-size: 1rem;
    }

    .vehicle-container p{
        font-size: 0.9rem;
    }
}
.buttons{
  background-color: rgb(1, 139, 139);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 200px;
  opacity: 0.9;
}

.buttons:hover {
  opacity: 1;
}